ul {
    list-style-type: none;
    padding: 10px;
}

.box1 li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    text-align: center;
}

.element img {
    float: left;
    width: auto;
    height: 60px;
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: lightseagreen;
}

a:hover {
    color: blue;
}


.dropdown a {
    color: lightseagreen;
}

.dropdown a:hover {
    color: blue;
}


li:hover .dropdown {
    display: block;
}

.main_container{
    margin: 15px;
    border: 3px solid black;
    padding: 15px;
}

.dropdown {
    display: none;
    position: absolute;
    margin: 0;
    background: rgb(58, 57, 57);
    border: 2px solid black;
    padding: 0;
    width: 100px;
    z-index: 1000;
    top: 100%;
    left: 0;
}

.box1 {
    display: inline-block;
    background: black;
    width: 100%;
    height: auto;
    margin: 0;
    border: 3px solid black;
}

.header {
    width: 100%;
    padding: 40px 0;
    background-color: blue;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    left: 0;

}

.first {
    text-align: right;
}

.box2 {
    display: block;
    background-color: white;
    border: 3px solid black;
    width: auto;
    height: auto;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: justify;
}

.text{
    padding: 15px;
 }
 
.element1 {
    display: block;
    background-color: white;
    border: 3px solid black;
}

.element2 img {
    float: left;
    width: 400px;
    height: auto;
    margin: 15px;
}

.element3 {
    display: block;
    background-color: white;
    border: 3px solid black;
    margin-top: 15px;
}

.element4 img {
    float: right;
    width: 400px;
    height: auto;
    margin: 15px;
}

.container {
    display: block;
    height: auto;
    background-color: white;
    border: 3px solid black;
    margin-top: 15px;

}

.element5 img{
    float: left;
    height: 450px;
    margin: 15px;
    overflow: hidden;
}

.element6 img{
    float: right;
    height: 450px;
    margin: 15px;
    overflow: hidden;
}

.clear {
    clear: both;
    border: 3px solid black;
    padding: 15px;
    margin: 15px;
}

.box4 {
    width: auto;
    height: 120px;
    padding: 20px;
    text-align: center;
    background-color: black;
    margin: 0;
}

.box4 li {
    display: inline-block;
    margin-right: 20px;
}

.lastelement img {
    width: 50px;
}

.totop {
    position: fixed;
    bottom: 10px;
}